@media (max-width: 992px) {
	.site-sidebar {
		display: none !important;
	}
}
.site-banner.jumbotron, .site-footer.jumbotron {
	text-align: center;
	border-radius: 0px !important;
	background-color: rgba(94,48,160,1);
	color:rgba(255,255,255,0.6);
	margin-bottom: 0px;
}
.site-banner.jumbotron h1 {
	color:rgba(255,255,255,1);
	font-size: 3.5em;
}
.site-navbar.navbar {
	margin-bottom: 0px;
	box-shadow:0px 1px 8px rgba(0,0,0,1);
	z-index: 10;
}
.site-banner.jumbotron a {
	font-weight: 900;
	color:rgba(255,255,255,0.6);
}
.site-content {
	margin-top: 30px;
	margin-bottom: 30px;
}
.site-sidebar ul.site-sidebar-fixed {
	position: fixed;
	top:20px;
}
.site-sidebar ul.site-sidebar-nav{
	list-style-type: none;
}
.site-sidebar ul.site-sidebar-nav a.site-sidebar-nav-link li {
	padding: 8px 5px 8px 10px;
	font-weight: 900;
}
.site-sidebar ul.site-sidebar-nav a.site-sidebar-nav-link li:hover {
	background-color: rgba(94,48,160,1);
	border-radius: 3px;
}
.site-sidebar ul.site-sidebar-nav a.site-sidebar-nav-link{
	color: rgba(100,100,100,1);
}
.site-sidebar ul.site-sidebar-nav a.site-sidebar-nav-link:hover{
	color:rgba(255,255,255,0.8);
	text-decoration: none;
}
.site-mainbar-section h1.site-mainbar-section-title a {
	color:rgba(0,0,0,1);
}
.site-mainbar-section h1.site-mainbar-section-title a:hover{
	text-decoration: none;
}
a.site-download-link {
	background-color:rgba(0,0,0,0);
	border:1px solid rgba(94,48,160,1);
	color:rgba(94,48,160,1);
}
a.site-download-link:hover {
	background-color:rgba(94,48,160,1);
	border:1px solid rgba(94,48,160,1);
	color:rgba(255,255,255,1);
}
.site-download-module-small.row {
	margin: 5px 0px;
}
.site-download-link-small {
	padding: 3px 6px;
}
.row.site-download-module-list .site-download-link {
	margin:5px 0px;
}
h1.site-mainbar-section-title {
	margin-top: 40px;
}
h3 {
	margin-top: 15px;
}
.sp-site-mainbar-section-title-first {
	margin-top:0px !important;
}
.site-table{
	margin-bottom: 15px;
}
.site-table td,th{
	padding: 8px;
	border-right: 1px solid rgba(0,0,0,1);
}
td.sp-site-cli-variable-names {
	width:60px;
}
div.site-picture-caption {
	font-style:italic;
	font-size:0.75em;
}
div.site-footer.jumbotron a {
	color: rgba(255,255,255,0.6);
	font-weight:900;
}
